{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON API",
    "version": "1.0",
    "contact": {
      "name": "Sander",
      "email": "info@vanhoogdalem.dev"
    },
    "license": {
      "name": "MIT"
    },
    "description": "The API V1.1"
  },
  "servers": [
    {
      "url": "https://api-jellymc.vanhoogdalem.dev/V1",
      "description": "Jelly MC"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Send Servercode to get Session Token",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SessionKey": {
                      "type": "string"
                    },
                    "logged_in_time": {
                      "type": "string"
                    },
                    "valid_until": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "SessionKey": "rEuPHtMGE44hXvnZLGig",
                      "logged_in_time": "2020-05-12T03:25:17",
                      "valid_until": "2020-05-13T01:25:17"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-auth-login",
        "description": "Login to the API and get Session Token for POST Requests",
        "parameters": [],
        "security": [
          {
            "SubscriptionKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serverCode": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "value": {
                    "serverCode": "game42_916329>GHBOEWQ20"
                  }
                }
              }
            }
          },
          "description": "In this object you will send the serverCode"
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/player/{uuid}/activity/history/{from}/{until}/{server_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "date-time"
          },
          "name": "from",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "date-time"
          },
          "name": "until",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "server_id",
          "in": "path",
          "allowEmptyValue": true
        }
      ],
      "get": {
        "summary": "Activity History",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Actives": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string"
                        },
                        "start_timestamp": {
                          "type": "string"
                        },
                        "end_timestamp": {
                          "type": "string"
                        },
                        "server": {
                          "type": "string"
                        }
                      }
                    },
                    "Inactives": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string"
                        },
                        "start_timestamp": {
                          "type": "string"
                        },
                        "end_timestamp": {
                          "type": "string"
                        },
                        "server": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "Actives": [
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ],
                      "Inactives": [
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-playerid",
        "parameters": [],
        "description": "Get Player Activity History based on timestamps",
        "security": [
          {
            "SubscriptionKey": []
          }
        ],
        "tags": [
          "Player-Activity"
        ]
      }
    },
    "/player/{uuid}/excluded": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-_]+",
            "minLength": 32,
            "maxLength": 36,
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "description": "The UUID of the player",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Player Excluded data",
        "tags": [
          "Player information"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "excluded": {
                      "type": "boolean",
                      "description": "The excluded boolean\n"
                    },
                    "start_timestamp": {
                      "type": "string",
                      "description": "The timestamp when the exclude starts // YYYY-MM-DD(t)H:I:s"
                    },
                    "end_timestamp": {
                      "type": "string",
                      "description": "The timestamp when the exclude ends"
                    },
                    "reason": {
                      "type": "string",
                      "description": "The reason of the exclusion"
                    }
                  },
                  "required": [
                    "excluded"
                  ]
                },
                "examples": {
                  "Excluded": {
                    "value": {
                      "Excluded": true,
                      "start_timestamp": "2020-10-05T13:10:14",
                      "end_timestamp": "2020-10-06T19:30:43",
                      "reason": "Cheating"
                    }
                  },
                  "Not excluded": {
                    "value": {
                      "Excluded": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-excluded",
        "description": "Get player Excluded data",
        "requestBody": {},
        "security": [
          {
            "SubscriptionKey": []
          }
        ]
      }
    },
    "/player/{uuid}/activity/{amount}/{server_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "number",
            "exclusiveMinimum": false,
            "minimum": 1,
            "maximum": 3,
            "format": "float"
          },
          "name": "amount",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "server_id",
          "in": "path"
        }
      ],
      "get": {
        "summary": "Get latest activity Records",
        "tags": [
          "Player-Activity"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Actives": [
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ],
                      "Inactives": [
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        },
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                          "start_timestamp": "2020-05-12T12:16:14",
                          "end_timestamp": "2020-05-12T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-activity-amount-server_id",
        "security": [
          {
            "SubscriptionKey": []
          }
        ],
        "description": "Get the latest activity records from the database, based on amounts with a number of limit."
      }
    },
    "/player/{uuid}/ranks/history/{from}/{until}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "from",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "until",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get player ranks between timestamp",
        "tags": [
          "Player-Ranks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-ranks-history-from-until-server_id",
        "security": [
          {
            "SubscriptionKey": []
          }
        ]
      }
    },
    "/player/{uuid}/ranks/{amount}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "amount",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "getlatest",
        "tags": [
          "Player-Ranks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Ranks": [
                        {
                          "id": 1,
                          "name": "Wood",
                          "start_timestamp": "2020-05-04T01:16:47"
                        },
                        {
                          "id": 2,
                          "name": "Stone",
                          "start_timestamp": "2020-05-10T12:16:14"
                        },
                        {
                          "id": 3,
                          "name": "Lapis",
                          "start_timestamp": "2020-05-19T12:17:34"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-ranks-amount",
        "description": "Get the latest player ranks of a player..",
        "security": [
          {
            "SubscriptionKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SubscriptionKey": {
        "name": "SubscriptionKey",
        "type": "apiKey",
        "in": "header"
      },
      "SessionKey": {
        "name": "SessionKey",
        "type": "apiKey",
        "in": "header"
      }
    }
  }
}