{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON API",
    "version": "1.0",
    "contact": {
      "name": "Sander",
      "email": "info@vanhoogdalem.dev"
    },
    "license": {
      "name": "MIT"
    },
    "description": "The API V1.1"
  },
  "servers": [
    {
      "url": "https://api-jellymc.vanhoogdalem.dev/V1",
      "description": "Jelly MC"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Send Servercode to get Session Token",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SessionKey": {
                      "type": "string"
                    },
                    "logged_in_time": {
                      "type": "string"
                    },
                    "valid_until": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "SessionKey": "rEuPHtMGE44hXvnZLGig",
                      "logged_in_time": "2020-05-12T03:25:17",
                      "valid_until": "2020-05-13T01:25:17"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-auth-login",
        "description": "Login to the API and get Session Token for POST Requests",
        "parameters": [],
        "security": [
          {
            "Subscription Key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serverCode": {
                    "type": "string"
                  }
                },
                "required": [
                  "serverCode"
                ]
              },
              "examples": {
                "application/json": {
                  "value": {
                    "serverCode": "game42_916329>GHBOEWQ20"
                  }
                }
              }
            }
          },
          "description": "In this object you will send the serverCode"
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/player/{uuid}/activity/history/{from}/{until}/{server_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "date-time"
          },
          "name": "from",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "format": "date-time"
          },
          "name": "until",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "server_id",
          "in": "path",
          "allowEmptyValue": true
        }
      ],
      "get": {
        "summary": "Activity History",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Actives": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string"
                        },
                        "start_timestamp": {
                          "type": "string"
                        },
                        "end_timestamp": {
                          "type": "string"
                        },
                        "server": {
                          "type": "string"
                        }
                      }
                    },
                    "Inactives": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string"
                        },
                        "start_timestamp": {
                          "type": "string"
                        },
                        "end_timestamp": {
                          "type": "string"
                        },
                        "server": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "application/json": {
                    "value": {
                      "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                      "Actives": [
                        {
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ],
                      "Inactives": [
                        {
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-playerid",
        "parameters": [],
        "description": "Get Player Activity History based on timestamps",
        "security": [
          {
            "Subscription Key": []
          }
        ],
        "tags": [
          "Player-Activity"
        ]
      }
    },
    "/player/{uuid}/excluded": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "pattern": "^[A-Za-z0-9-_]+",
            "minLength": 32,
            "maxLength": 36,
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "description": "The UUID of the player",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Player Excluded data",
        "tags": [
          "Player information"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "excluded": {
                      "type": "boolean",
                      "description": "The excluded boolean\n"
                    },
                    "start_timestamp": {
                      "type": "string",
                      "description": "The timestamp when the exclude starts // YYYY-MM-DD(t)H:I:s"
                    },
                    "end_timestamp": {
                      "type": "string",
                      "description": "The timestamp when the exclude ends"
                    },
                    "reason": {
                      "type": "string",
                      "description": "The reason of the exclusion"
                    }
                  },
                  "required": [
                    "excluded"
                  ]
                },
                "examples": {
                  "Excluded": {
                    "value": {
                      "Excluded": true,
                      "start_timestamp": "2020-10-05T13:10:14",
                      "end_timestamp": "2020-10-06T19:30:43",
                      "reason": "Cheating"
                    }
                  },
                  "Not excluded": {
                    "value": {
                      "Excluded": false
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-excluded",
        "description": "Get player Excluded data",
        "requestBody": {},
        "security": [
          {
            "Subscription Key": []
          }
        ]
      }
    },
    "/player/{uuid}/activity/{amount}/{server_id}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "number",
            "exclusiveMinimum": false,
            "minimum": 1,
            "maximum": 3,
            "format": "float"
          },
          "name": "amount",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "server_id",
          "in": "path"
        }
      ],
      "get": {
        "summary": "Get latest activity Records",
        "tags": [
          "Player-Activity"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                      "Actives": [
                        {
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ],
                      "Inactives": [
                        {
                          "start_timestamp": "2020-05-10T12:16:14",
                          "end_timestamp": "2020-05-10T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        },
                        {
                          "start_timestamp": "2020-05-12T12:16:14",
                          "end_timestamp": "2020-05-12T12:17:34",
                          "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                        }
                      ]
                    }
                  }
                }
              },
              "application/javascript": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-activity-amount-server_id",
        "security": [
          {
            "Subscription Key": []
          }
        ],
        "description": "Get the latest activity records from the database, based on amounts with a number of limit."
      }
    },
    "/player/{uuid}/ranks/history/{from}/{until}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "from",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "until",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get player ranks between timestamp",
        "tags": [
          "Player-Ranks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-ranks-history-from-until-server_id",
        "security": [
          {
            "Subscription Key": []
          }
        ]
      }
    },
    "/player/{uuid}/ranks/{amount}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "uuid",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "amount",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "getlatest",
        "tags": [
          "Player-Ranks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "Ranks": [
                        {
                          "id": 1,
                          "name": "Wood",
                          "start_timestamp": "2020-05-04T01:16:47"
                        },
                        {
                          "id": 2,
                          "name": "Stone",
                          "start_timestamp": "2020-05-10T12:16:14"
                        },
                        {
                          "id": 3,
                          "name": "Lapis",
                          "start_timestamp": "2020-05-19T12:17:34"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-player-uuid-ranks-amount",
        "description": "Get the latest player ranks of a player..",
        "security": [
          {
            "Subscription Key": []
          }
        ]
      }
    },
    "/ranks/update": {
      "post": {
        "summary": "updateRanks",
        "tags": [
          "Player-Ranks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response_code": {
                      "type": "integer"
                    },
                    "updated_users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "uuid"
                        ]
                      }
                    }
                  },
                  "required": [
                    "response_code",
                    "updated_users"
                  ]
                },
                "examples": {
                  "Multiple users": {
                    "value": {
                      "response_code": 200,
                      "updated_users": [
                        {
                          "uuid": "2eb469bb-0d37-4ff3-9810-5bb943f5787b"
                        },
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28"
                        }
                      ]
                    }
                  },
                  "One user": {
                    "value": {
                      "response_code": 200,
                      "updated_users": [
                        {
                          "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-ranks-update",
        "description": "Update rank of player, also usable for mulitple user after the fallback server",
        "security": [
          {
            "Subscription Key": []
          },
          {
            "The session key": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ranks": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "uuid": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "rank_name": {
                          "type": "string"
                        },
                        "start_time": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "uuid",
                        "rank_name",
                        "start_time"
                      ]
                    }
                  }
                },
                "required": [
                  "ranks"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "ranks": [
                      {
                        "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                        "rank_name": "Lapis",
                        "start_time": "2020-05-21T13:50:10"
                      },
                      {
                        "uuid": "16fdbe74-daf6-434f-9701-558d01c73G91",
                        "rank_name": "Gold",
                        "start_time": "2020-05-21T16:50:10"
                      }
                    ]
                  }
                },
                "example-2": {
                  "value": {
                    "ranks": [
                      {
                        "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                        "rank_name": "Lapis",
                        "start_time": "2020-05-21T13:50:10"
                      }
                    ]
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          },
          "description": "Send a array of objects to the API for users that must be updated"
        }
      }
    },
    "/activities/add": {
      "post": {
        "summary": "addActivities",
        "tags": [
          "Player-Activity"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response_code": {
                      "type": "string"
                    },
                    "unsaved_entities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "start_time": {
                            "type": "string"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "server": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uuid",
                          "type",
                          "start_time",
                          "end_time",
                          "server"
                        ]
                      }
                    },
                    "serialize": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "response_code": 200,
                      "unsaved_entities": [],
                      "serialize": "act_add_200"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post-activities-add",
        "description": "Add activity or activities from players into the database",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^[A-Za-z0-9_]+",
                      "minLength": 32,
                      "maxLength": 36,
                      "example": "4efdbe74-daf6-434f-8807-558d01c73c28",
                      "description": "Player UUID"
                    },
                    "type": {
                      "type": "string",
                      "example": "join/leave",
                      "pattern": "^[A-Za-z]+",
                      "minLength": 3,
                      "maxLength": 10,
                      "description": "\"join/leave\" or \"AFK\""
                    },
                    "start_time": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-05-23T12:00:00Z",
                      "pattern": "^[A-Z0-9-:]+",
                      "minLength": 20,
                      "maxLength": 20,
                      "description": "YYYY-MM-DDTH:i:sZ"
                    },
                    "end_time": {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^[A-Z0-9-:]+",
                      "minLength": 20,
                      "maxLength": 20,
                      "example": "2020-05-23T14:00:00Z",
                      "description": "YYYY-MM-DDTH:i:sZ"
                    },
                    "server": {
                      "type": "string",
                      "maxLength": 200,
                      "description": "Server code"
                    }
                  },
                  "required": [
                    "uuid",
                    "type",
                    "start_time",
                    "end_time",
                    "server"
                  ]
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "Actives": [
                      {
                        "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                        "start_timestamp": "2020-05-10T12:16:14",
                        "end_timestamp": "2020-05-10T12:17:34",
                        "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                      }
                    ],
                    "Inactives": [
                      {
                        "uuid": "4efdbe74-daf6-434f-8807-558d01c73c28",
                        "start_timestamp": "2020-05-10T12:16:14",
                        "end_timestamp": "2020-05-10T12:17:34",
                        "server": "YLKJRHLJLD452GLS3LGD9KJFHS1"
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "Subscription Key": []
          },
          {
            "The session key": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Subscription Key": {
        "name": "SubscriptionKey",
        "type": "apiKey",
        "in": "header"
      },
      "The session key": {
        "name": "SessionKey",
        "type": "apiKey",
        "in": "header"
      }
    },
    "schemas": {
      "plzyer": {
        "title": "player",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      }
    }
  }
}